.Menu > nav {
    display: flex;
    flex-direction: column;
}

.Menu>nav>a {
    margin-top: 16px;
    font-size: small;
}

.subNav>a{
    margin-top: 16px;
    font-size: small;
    
}

.subNav>a{
    display: flex;
    flex-direction: column;
}
