.FormStyler {
	direction: ltr;
}

.FormStyler > * {
	padding: 20px;
	margin: 0px;
  }
  
  .FormStyler >  form {
	width: 35%;
	background-color: #d6d6d6;
	position: relative;
	top: 50%;
	left: 37%;
	transform: translate(10%, 10%);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	padding: 30px 60px;
	box-shadow: 0px 0px 20px 0px rgba(204,204,204,1);
  }
  
  .FormStyler > form button {
	margin-top: 15px;
	margin-bottom: 5px;
	width: 100%;
  }


  .FormStyler >.radiobutton{
	direction: ltr;
	margin-right: 20px
}

